<div class="topbox">
    	<ul>
			<% if !session[:user_id].nil? %>
					<li><%= link_to t("general.logout"), :log_out %></li>
			<% else %>
					<li><%= link_to t("general.sign_up"), register_path %></li>
			<% end %>
        </ul>
    <div class="cl"></div>
</div>

<div class="cuponbox">
    <div class="cuponbox-left"><%= link_to image_tag("logo.png"), fronts_path %></div>
    <div class="cl"></div>
</div>
	
