<!DOCTYPE html>
<html>
  <head>
	<meta charset=utf-8 />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
	<div id="wrapper">
		<div class="row-fluid bgRight">
			<div class="container">
				<%= render 'layouts/front_header' %>
				<% if flash[:notice] %>
					<div class="successmsg">
						<h4>Success!</h4>
						<p>
							<div id="notice"><%= flash[:notice] %></div>
						<p>
					</div>
				<% end %>
				<div class="main-containt ">
					<div class="pagestext">
					<%= yield %>
					</div>
				</div>
					<div class="cl"></div>
				<%= render 'layouts/front_footer' %>
			<div>
		<div>
	<div>
  </body>
</html>

