<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">


	  <link href="/stylesheets/m/mobile_web.css" media="screen" type="text/css" rel="stylesheet">
	  <script type="text/javascript" src="/javascripts/jquery.js"></script>
	  <%= stylesheet_link_tag 'prettyPhoto', :media => 'all' %>
      <%= javascript_include_tag "jquery.prettyPhoto.js" %>

</head>
<body>
	<div class="content">
		<%= yield %>
	</div>
</body>
</html>


